<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
        <script src="https://kit.fontawesome.com/b4a254db2e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-dark ">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          
            <a class="navbar-brand text-light" href="/"<span>Bookers</span></a>
          
          
         
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li>
                <a class="nav-link text-light" href="<%= user_path(current_user) %>">
                  <i class="fas fa-home" style="color: #ffffff;"></i>Home
                </a>
              </li>
              
              <li>
                <a class="nav-link text-light" href="<%= users_path %>">
                  <i class="fa-solid fa-users" style="color: #ffffff;"></i>Users
                </a>
              </li>

              <%= link_to books_path, class: 'nav-link text-white' do%>
               <i class="fa-solid fa-book-open"></i>Books
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-white' do%>
                <i class="fa-solid fa-sign-out-alt"></i>Log out
              <% end %>
            
            <% else %>
              <li>
                <a class="nav-link text-light" href="<%= root_path %>">
                  <i class="fas fa-home" style="color: #ffffff;"></i>Home
                </a>
              </li>
              
              <li>
                <a class="nav-link text-light" href="<%= about_path %>">
                  <i class="fa-solid fa-link" style="color: #ffffff;"></i>About
                </a>
              </li>
              
              <li>
                <a class="nav-link text-light" href="<%= new_user_registration_path %>">
                  <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i>Sign up
                </a>
              </li>
              
              <li>
                <a class="nav-link text-light" href="<%= new_user_session_path %>">
                  <i class="fas fa-sign-in-alt" style="color: #ffffff;"></i>Log in
                </a>
              </li>
           
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div>
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>">
        <%= value %>
    </div>
  <% end %>
      </div>
    <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
